/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  box-sizing: border-box;
} */

.h-screen-minus-navbar {
  height: calc(100vh - 65px);
}

.table-layout td,
.table-layout th {
  padding: 8px 24px;
}

input::placeholder,
textarea::placeholder {
  font-size: 0.85em;
}

* {
  box-sizing: border-box;
}
